body,html{
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: #32312F;
	color: #FFFFFF;
}

#header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	flex-wrap: nowrap;
}

#header1 {
	flex:1 0 auto;
	font-size: 40px;
	margin:0px;
	background: #32312F;
	padding: 30px;
}

#header1 p{
	margin: 10px;
	float: left;
	padding: 5px;
	text-align: center;
	border: 3px solid #0DC5A0;
	font-weight: bold;
	background: #32312F;
	border-radius: 20px;
	color: #0DC5A0;
}

#header2 {
	background: #32312F;
	flex:2 0 auto;
	font-size: 20px;
	text-align: center;
	margin: auto;
	align-content: space-around;
	text-align: center;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
}

@media screen and (max-width: 890px){
    #header{
        flex-direction: column;
        align-content: center;
		flex-wrap: wrap;
    }
	
	#header1{
		margin: auto;
	}
    #header2 ul{
        border-right: none;
		flex: 1;
		display: flex;
    }
	#header2 ul li{
		flex: 1 0 auto;
		margin: auto;
	}
}

#header2 ul li a{
	text-decoration: none;
	color:#FFFFFF;
	align-content: space-around;
	text-align: center;
}

#header2 ul {
	margin: 0;
	padding: 20px;
}

#header2 ul li{
	flex: 1;
	float: left;
	list-style: none;
	padding: 20px;
	margin: auto;
}

#header2 ul li a:hover{
	border: solid 1px #FFFFFF;
	border-radius: 20px;
	background: #FFFFFF;
	padding: 10px 20px;
	font-size: 21px;
	color: #32312F;
	text-decoration: underline;
	transition:0.3s ease;
}

#intro {
	border-bottom: solid 100px #32312F;
	display: flex;
}

#intro1 {

	flex: 1;
}

#intor11 {

	font-size: 60px;
	font-weight: bold;
	text-align: center;
	background: #32312F;
	color: #FFFFFF;
}

#intro12 {
	color: #FFFFFF;
	background: #32312F;
	text-align: justify;
	font-size: 25px;
	padding: 10px;
}

#intro13 {
	display: flex;
	flex-direction: row;
}

#intro2 {
	flex: 1;
	border: 1px solid black;
	margin: 5px;
	
}

#intro132 {
	display: flex;
	flex: 1;
	padding: 20px;

	justify-content: space-around;
}
#intro132 a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 20px;
	margin: auto;
	padding: 0px 25px;
	text-align: center;
	justify-content: space-around;
	background: url(images/arrow.png) no-repeat right center;
}

#intro132 a:hover{
	color: #0DC5A0;
	text-decoration: underline;
	transition: 0.3s ease;
}


#intro132 img{
	padding: 5px;
}

#intro131 {
	display: flex;
	flex: 1;
	align-content: center;
	justify-content: space-around;
}
#intro131 a{
	text-align: center;
	border: solid 10px #FFFFFF;
	border-radius: 100px;
	background: #FFFFFF;
	color: #32312F;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	margin: auto;
}

#intro131 a:hover{
	border: solid 10px #0DC5A0;
	border-radius: 100px;
	color: #FFFFFF;
	background: #0DC5A0;
	text-decoration: underline;
	transition:0.3s ease;
}

#about {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-between;
}

#about1 {
	border-top: 1px solid #32312F;
	border-bottom: 1px solid #32312F;
	flex: 1;
	text-align: center;
	font-size: 40px;
}
#about p{
	margin: 0;
}

#about2 {
	border-top: 1px solid #32312F;
	flex: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-between;
	text-align: center;
	margin: 5px 20px;
}



#about212 {
	border: 1px solid black;
	margin: 5px;
	
}

#about213 {
	border: 1px solid black;
	margin: 5px;
}

#about214 {
	border: 1px solid black;
	margin: 5px;
}

#about215 {
	border: 1px solid black;
	margin: 5px;
}

#about216 {
	border: 1px solid black;
	margin: 5px;
}

# {
	border: 1px solid black;
	margin: 5px;
	display: flex;
	flex-direction: column;
	
}

#project1 {
	border-top: 1px solid #32312F;
	border-bottom: 1px solid #32312F;
	text-align: center;
	font-size: 40px;
	flex: 1;
}

#project1 p{
	margin: auto;
}



#project2 {
	border-top: 1px solid #32312F;
	flex: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-between;
	text-align: center;
	margin: 5px 20px;
}

#project21 {
	margin: auto;
	flex: 1 0 auto;
	padding: 20px;	
	height: auto;
	width: 28%;
}

#project211 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project212 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project22 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project221 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project222 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project23 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project231 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project232 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project24 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project241 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#project242 {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
}

#letter {
	text-align: center;
	display: flex;
	flex-direction: column;
}

#letter1 {
	text-align: center;
}

#letter2 {
	text-align: center;
}

#footer {
	border: 1px solid black;
	margin: 5px;
	text-align: center;
	display: flex;
	flex-direction: row;
}

#footer1 {
	border: 1px solid black;
	margin: 5px;
	flex: 1;
}

#footer2 {
	border: 1px solid black;
	margin: 5px;
	flex: 1;
}

#footer3 {
	border: 1px solid black;
	margin: 5px;
	flex: 1;
}

#container {
	height: auto;
	width: 80%;
	margin: 0 auto;
}

#container2{
	border-top:solid 50px #F6F6F6; 
	border-radius: 50px;
	background: #F6F6F6;
	color: #32312F;
	transition: 0.3s ease;
}

#header2 ul {
	display: flex;
	flex-wrap: nowrap;
}

#header2 ul li{
	flex: 1 0 auto;
	
}

.about211 {
	margin: auto;
	flex: 1 0 auto;
	padding: 20px;	
	height: auto;
	width: 28%;
}

#about2sub2 {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: wrap;
}

#about2sub1 {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	flex: 1 0 auto;
}

#project {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: auto;
	border-bottom: solid 20px #FFFFFF;
	border-radius: 100px;
}

#projectsub1 {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	flex: 1 0 auto;
}

#projectsub2 {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: wrap;
}

#myself {
	border: solid 1px black;
	margin: 5px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

#myself1 {
	border: solid 1px black;
	margin: 5px;
	flex: 1;
	text-align: center;
}

#myself1 a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

#myself1 p{
	font-size: 15px;
	font-weight: bold;
}

#myself2 {
	border: solid 1px black;
	margin: 5px;
	flex: 1;
}

#myself21 {
	border: solid 1px black;
	margin: 5px;
	flex: 1;
}

* {box-sizing: border-box}

	.container {
		border-right: solid 1px white;
		border-radius: 10px;
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #32312F;
}

.html {width: 90%; background-color: #0DC5A0;}
.css {width: 80%; background-color: #0DC5A0;}
.js {width: 65%; background-color: #0DC5A0;}
.php {width: 60%; background-color: #0DC5A0;}
.photoshop {width: 60%; background-color: #0DC5A0;}
.python {width: 80%; background-color: #0DC5A0;}











#letter21 {
	height: 30px;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #161616;
	padding: 20px;
	border: 20px;
}

#letter23 {
	margin: auto;
	height: 30px;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #161616;
	padding: 20px;
	border: 20px;
}

#letter22 {
	height: 30px;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #161616;
	padding: 20px;
	border: 20px;
}


